* {
  box-sizing: border-box;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#app-title {
  padding: 20px 15px;
  padding-bottom: 5px;
  background-color: rgba(29, 161, 242, .05);
}

.landingRow {
  color: #eee0c3;
  padding-bottom: 15px;
  line-height: 1.5em;
}

#callAction {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#hideLanding {
  margin-top: 5px;
  width: 270px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  background-color: gainsboro;
  border: 1px solid gray;
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 20px;
}



#hideLanding:hover {
  color: white;
  background-color: rgba(29, 161, 242, .6);

}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

#thesis {
  padding-top: 5px; 
}
