* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Source Sans Pro', 'Lato', sans-serif;
}

html {
  background-color: rgba(29, 161, 242, 1);
  max-width: 1000px;
  min-width: 290px;
}

header {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

header > h1 {
  font-size: 45px;
}

main {
  /* height: 90vh; */
  text-align: center;
  margin: auto;
}

#grid-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

body {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  background-color: snow;
  min-height: 100vh;
  border-radius: 1%;
  padding-bottom: 15px;
  /* what to do here with body background */
}

#searchArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  padding-top: 15px;
}

#search-label {
  padding-right: 7px;
}

/* .search > button {
  margin-left: 3px;
  font: white;
  border-radius: 10%;
} */

/* trying icon */
.search img {
  height: 1em;
}

#searchError,
#searchError > p {
  background-color: #ff9800;
  color: white;
  font-weight: 1.5em;
}

.hidden {
  visibility: hidden;
}

#searchHistory span {
  padding-left: 10px;
  padding-right: 10px;
}

#searchHistory {
  padding-bottom: 15px;
}

#searchHistory h3 {
  margin-top: 0px;
}

#searchTweets {
  border-radius: 2%;
}

#emotionChart {
  padding: 10px;
  grid-column: 2; 
  grid-row: 1;
}

#listTitle {
  border-bottom: solid gray 2px;
  padding-bottom: 10px;
  padding-top: 15px;
}

#tweets > ul {
  display: flex;
  justify-content: center;
}

#tweets li {
  border-left: solid gray 1px;
  border-right: solid gray 1px;
  border-top: solid gray 1px;
  border-radius: 1%;
  padding: 15px;
  text-align: left;
}

#tweet-list {
  grid-column: 1;
  grid-row: 1 / 3;
  max-height: 500px;
  overflow: auto;
}

ul {
  list-style: none;
  padding-left: none;
  padding-inline-start: 0px;
}

#sentimentChart {
  padding-top: 15px;
  grid-column: 2; 
  grid-row: 2;
}

@media only screen and (min-width: 850px) {
  #charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #sentimentChart {
    padding: 10px;
  }
}
