* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Source Sans Pro', 'Lato', sans-serif;
  color: #eee0c3;
}

.container {
  background-color: #0f1b30;
  color: #eee0c3;
}

html {
  max-width: 1000px;
  min-width: 340px;
  background-color: #0f1b30;

}

.app-header {
  padding-top: 15px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #0f1b30;
}

.title-letter-holder {
  margin: 0;
  padding: 20px;
}

.app-title {
  font-weight: 500;
  font-family: 'Cormorant', 'Lora', 'Montserrat', 'Roboto', 'serif';
  font-size: 60px;
  margin-top: 5px;
}

/* rainbow title colors */
.blue {
  color: #405de6;
} 

.blue-purple {
  color: #5851db;
} 

.purple {
  color: #833ab4;
} 

.purple-pink {
  color: #c13584;
} 

.pink {
  color: #e1306c;
} 

.red {
  color: #fd1d1d;
} 

.red-orange {
  color: #f56040;
} 

.orange {
  color: #f77737;
} 

.orange-yellow {
  color: #fcaf45;
} 

.tagline {
  color: #eee0c3;
  font-weight: 500;
  font-family: 'Cormorant', 'Lora', 'Montserrat', 'Roboto', 'serif';
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 15px;
}

main {
  text-align: center;
  margin: auto;
}

#landingPane p {
  padding-left: 10px;
  padding-right: 10px;
}

.feature-summary {
  padding-top: 10px;
}

#search-home-img {
  width: 100%;
  height: auto; 
}

body {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  /* background-color: snow; */
  min-height: 100vh;
  border-radius: 1%;
  /* padding-bottom: 15px; */
  min-width: 290px;
  /* what to do here with body background */
}

#searchArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  padding-top: 20px;
}

.search img {
  height: 1em;
} 

.search button {
  border-radius: 0px 20px 20px 0px;
  height: 32px;
  cursor: pointer;
}

button:focus {
  outline-width: 0;
  outline-color: transparent;
}

#searchError,
#searchError > p {
  background-color: #ff9800;
  color: white;
  font-weight: 1.5em;
}

#searchError {
  margin-top: 20px;
  font-size: 18px;
}

.hidden {
  visibility: hidden;
}

.pastSearch {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(221, 221, 221, .5);
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5%;
}

.pastSearch:hover {
  color: white;
  background-color: rgba(29, 161, 242, .6);
}

#searchHistory {
  padding-bottom: 15px;
}

#searchHistory h3 {
  margin-top: 20px;
}

#searchTweets {
  border-radius: 20px 0px 0px 20px;
  border: rgba(221, 221, 221, 1) solid 1px;
  padding: 2px;
  width: 220px;
  text-indent: 10px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
  height: 32px; 
}

input:focus {
  outline-width: 0;
  outline-color: transparent;
}

.chart {
  min-width: 200px;
}

#emotionChart {
  padding: 10px;
}

#listTitle {
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 25px;
}

#tweets > ul {
  display: flex;
  justify-content: center;
}

#tweets li {
  font-family: 'Source Sans Pro', 'Open Sans', 'Lato', sans-serif;
  border-left: solid lightgray 1px;
  border-right: solid lightgray 1px;
  border-top: solid lightgray 1px;
  background-color: rgba(160, 204, 231, 0.03);
  border-radius: 1%;
  padding: 10px;
  margin-left: 8px;
  text-align: left;
  line-height: 1.4em;
}

li:last-child { 
  border-bottom: solid lightgray 1px; 
}

ul {
  list-style: none;
  padding-left: none;
  padding-inline-start: 0px;
}

@media only screen and (min-width: 768px) {

  main {
    text-align: center;
    margin: auto;
  }

  html {
    min-width: 290px;
    max-width: none;
  }

  #grid-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: 50%;
    grid-gap: 40px;
  }

  #emotionChart {
    padding: 10px;
    grid-column: 2;
    grid-row: 1;
  }

  #sentimentChart {
    padding-top: 15px;
    grid-column: 2;
    grid-row: 2;
  }

  #tweet-list {
    grid-column: 1;
    grid-row: 1 / 3;
    max-height: 800px;
    overflow: auto;
  }
}
