* {
  box-sizing: border-box;
  font-family: 'Arial';
}

html {
  background-color: rgba(29, 161, 242, 1);
}

header {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

main {
  /* height: 90vh; */
  max-width: 1000px;
  min-width: 290px;
  text-align: center;
  margin: auto;
}

body {
  text-align: center;
  margin: 15px;
  background-color: snow;
  min-height: 100vh;
  border-radius: 1%;
  padding-bottom: 15px;
}

#searchArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  padding: 15px;
}

#search-label {
  padding-right: 7px;
}

.search > button {
  margin-left: 3px;
  font: white;
  border-radius: 10%;
}

.hidden {
  visibility: hidden;
}

#searchTweets {
  border-radius: 2%;
}



/* #charts-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

#emotionChart {
  padding: 10px;
}

#listTitle {
  border-bottom: solid gray 2px;
  padding-bottom: 10px; 
  padding-top: 15px;
}

#tweets > ul {
  display: flex;
  justify-content: center;
}

#tweets li {
  border-left: solid gray 1px;
  border-right: solid gray 1px;
  border-top: solid gray 1px;
  border-radius: 1%;
  padding: 15px;
  text-align: left;
}

ul {
  list-style: none;
  padding-left: none;
  padding-inline-start: 0px;
}

#sentimentChart {
  padding-top: 15px;
}

/* @media only screen and (min-width: 768px) {
  #charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #sentimentChart {
    padding: 10px;
  }
} */